body {
    background-color:rgb(246, 240, 242);
	font-family: 'Open Sans', sans-serif;
}
/*font-family: 'Montserrat', sans-serif;

*/


.cabecalho__realize{
    font-size: 1.5rem;
    justify-self: center;
    color: rgb(255, 136, 0);
    font-weight: 400;
}
.cabecalho {
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    height: 35px;
    padding:20px;
    background-color: rgb(20, 22, 38);
}
header img{
    height: 40px;
    justify-self: end;   
}
.icone__menu{
    font-size: 1.5rem;
    color:rgb(255, 136, 0);
    background-color: rgb(20, 22, 38);
    border: none;
}
.caixa {
    position: relative;
    width: 90%;
    margin: 0 auto 0;
    
}




/* Corpo da Pagina*/

.border__texto{
    border-bottom: 1px solid rgba(20, 22, 38, 50);
    padding-top: 2rem;
    
}

strong{
    font-weight: bold;
    font-style: italic;
}


.titulo__principal{
    color: rgb(0, 0, 200);
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 0 1.8rem;
}

.texto__sobre  {
    font-size: 1rem;
    color: black;
   
}

/*Beneficios*/

.titulo__beneficio {
    text-align: left;
    padding: 2em 0 1em;
    color: rgb(0, 0, 200);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.texto__beneficio{
    font-size: 0.9rem;
    color: black;
}

.caixa__mapa{
    display: flex;
}

.mapa{
    padding: 2em 0;
    width: 100vw;
    max-width: 700px;
}


footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: rgb(20, 22, 38);
    color:rgb(255, 136, 0);
}

.redes__sociais-itens{
    font-size: 1rem;
    padding: 0 0.8rem 0 0.4rem;

    
       
}


    
/*Menu lateral*/
.menu-lateral {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(20, 22, 38);
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
    z-index: 1;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.conteudo__menu-lateral{
    text-decoration: none;
    color: rgb(255, 136, 0);
    padding: 0.6rem 0 0;
    font-size: 1.5rem;
    font-weight: 400;
}

